@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
#Banner{
	background-image:url(../image/315464142_160027473393623_6317053333491513440_n.jpg);
    height: 50vh;
	background-position: bottom;
	display: flex;
	justify-content: center;
	text-align: center;
	color:aliceblue;
	align-items: center;
}
#Banner h1{
	font-size: 50px;
}
#Banner i{
	padding: 10px;
	font-size: 30px;
}
#Banner .nutchuyendong{
	animation: chuyendong 1s  infinite;
	
}
@keyframes chuyendong {
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(20px);
	}

}
#contact {
	padding: 60px 100px;
	text-align: center;
	font-size: 60px;
}
.gridport{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	border-radius:5px;
}
.gridport img{
	width:100%;
}
#center{
	padding: 40px 400px;
	text-align: center;
}
#chot{
	width: 80%;
	margin: 0 auto;
}
#center .iconcontact{
	justify-content:space-around;
	align-items: center;
	padding: 10px;
	width: 100%;
	width: 80%;
	margin: 0 auto;
}
.iconcontact {
	font-size: 20px;
}